/* You can add global styles to this file, and also import other style files */

// Spacing propertys used all around the style
$small-space: 3px;
$big-space: 10px;
$border-space: 25px;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

